*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --orange-100: #fdf1eb;
    --orange-300: #FFB354;
    --orange-350: #F0813D;
    --orange-400: #EE7A3A;
    --orange-500: #ED7839;
  
    --brown-200: #725C5C;
  
    --red-500: #F85959;
  
    --purple-500: #71478E;
    --purple-800: #341947;
  
    --gray-100: #ececec;
    --gray-150: #e5e5e5;
    --gray-200: #757575;
    --gray-300: #595959;
    --gray-400: #5C5C5C;
    --gray-500: #4E4E4E;
    --gray-600: #4D4D4D;
    --gray-700: #333333;
  
    --white: #ffffff;
  }
  
  body{
    height: 100vh;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }

  header{
    position: absolute;
    min-width: 83.8%;
    height: 10.25%;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--orange-100);
    z-index: -1;
  }
  
  .header-title-container{
    display: flex;
    width: 93.5%;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title{
    /* margin-right: 6rem; */
    font-family: "Roboto", sans-serif;
    color: var(--brown-200);
    text-align: left;
  }
  
  .header-title h1{
    font: 400 1.4rem "Roboto", sans-serif;
  }
  
  .header-title h3{
    font: 400 0.85rem "Roboto", sans-serif;
  }
  
  .languages-btn{
    display: flex;
    margin-left: 4rem;
    padding: 0 9px;
    align-items: center;
    background: none;
    color: var(--gray-700);
    border-radius: 3px;
    border: 1px solid #cccccc;
    height: 34px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 400;
  }
  
  .languages-btn:hover{
    cursor: pointer;
  }
  
  .languages-btn .languages-img{
    margin-bottom: 0.24rem;
  }
  
  .languages-btn #dropdown-arrow{
    width: 9px;
  }
  
  .languages-btn p{
    margin: 0 0.25rem;
    font: 300 0.9rem "Roboto", sans-serif;
    text-align: center;
  }
  
  .user-profile{
    display: flex;
  }
  
  .user-profile #welcome-msg{
    font: 400 0.9rem "Quicksand", sans-serif;
    text-align: right;
  }
  
  .user-profile #user-email{
    font: 400 0.75rem "Quicksand", sans-serif;
    text-align: right;
  }
  
  .user-profile #user-profile-photo{
    display: flex;
    text-decoration: none;
  }
  
  .user-profile #user-profile-photo img{
    position: relative;
    left: 10px;
  }
  
  .notification{
    position: relative;
    height: 12px;
    width: 12px;
    font: 600 0.6rem "Roboto", sans-serif;
    text-align: center;
    background-color: var(--red-500);
    color: var(--white);
    border-radius: 50%;
  }

  .sidebar{
    width: 16.2%;
    height: 100%;
    position: fixed;
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .logo{
    display: flex;
    height: 10.25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--orange-300), var(--orange-400));
    padding: 1rem 0rem;
  }
  
  .logo h1{
    font: 500 1.9rem "Roboto", sans-serif;
    color: var(--white);
  }
  
  .sidebar .sidebar-menu{
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .sidebar-menu .menu-section{
    display: flex;
    /* padding: 0.4rem 1.5rem; */
    align-items: center;
    height: 33px;
    margin-bottom: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font: 600 0.95rem "Quicksand", sans-serif;
    color: var(--brown-200);
  }
  
  .sidebar .sidebar-menu .menu-section:hover{
    cursor: pointer;
    background-color: var(--orange-100);
  }
  
  .sidebar .sidebar-menu .menu-section p{
    padding-left: 1.5rem;
  }
  
  .sidebar .sidebar-menu .selected{
    background-color: var(--orange-100);
    padding: 0rem;
    align-items: center;
  }
  
  .sidebar .sidebar-menu .selected p{
    padding-left: 1.5rem;
  }
  
  .sidebar .sidebar-menu .selected .selected-bar{
    width: 5px;
    height: 33px;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    padding: 0rem 0rem;
  }

  main{
    position: absolute;
    width: 83.8%;
    height: 100vh;
    top: 10.25%;
    right: 0;
  }
  
  .main-container{
    margin: 0 auto;
    width: 92.5%;
  }

  #bottom-text{
    position: absolute;
    width: 97%;
    right: 0px;
    margin: 3rem 1rem 0rem 1rem;
    padding-bottom: 1.5rem;
  }
  
  #bottom-text hr{
    width: 95%;
    left: 0;
    border: 1px solid #e7e7e7;
  }
  
  #bottom-text #bottom-container{
    display: flex;
    width: 98.5%;
    margin: 1rem auto 0;
    /* justify-content: space-between; */
  }
  
  #bottom-text #bottom-container #galoa-logo{
    width: 18%;
    margin-right: 1.5rem;
    text-align: center;
  }
  
  #bottom-text #bottom-container #galoa-logo h1{
    font: 500 4.5rem "Roboto", sans-serif;
    line-height: 60px;
    color: var(--purple-800);
  }
  
  #bottom-text #bottom-container #galoa-logo p{
    font: 400 0.88rem "Roboto", sans-serif;
    letter-spacing: 1px;
    color: var(--purple-800);
  }
  
  #bottom-text #bottom-container #galoa-logo p::before,
  #bottom-text #bottom-container #galoa-logo p::after{
    content: "";
    width: 15px;
    height: 2px;
    display: inline-block;
    background-color: var(--purple-500);
    vertical-align: 0.25rem;
  }
  
  #bottom-text #bottom-container #galoa-logo p::before{
    margin-right: 0.2rem;
  }
  
  #bottom-text #bottom-container #galoa-logo p::after{
    margin-left: 0.2rem;
  }
  
  #bottom-text #bottom-container #galoa-logo button{
    width: 95%;
    margin-top: 0.2rem;
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--purple-500);
    font: 400 0.88rem "Quicksand", sans-serif;
    color: var(--white);
  }
  
  #bottom-text #bottom-container #bottom-info{
    width: 77%;
    font: 500 0.88rem "Quicksand", sans-serif;
    color: var(--gray-400);
  }
  
  #bottom-text #bottom-container #bottom-info p:nth-child(2){
    margin-top: 1rem;
  }

  #discussions{
    margin-top: 2rem;
    padding-bottom: 0.8rem;
    border: 1px solid var(--gray-100);
    border-radius: 3px;
  }
  
  #discussions .section-title{
    padding: 10px 15px;
    font: 500 1.25rem "Roboto", sans-serif;
    color: var(--gray-500);
    background-color: var(--orange-100);
  }
  
  #discussions #qa-info{
    text-align: center;
    margin-top: 1rem;
  }
  
  #discussions #qa-info h2{
    font: 600 1.1rem "Roboto", sans-serif;
    color: var(--orange-500);
    letter-spacing: 0.2px;
  }
  
  #discussions #qa-info #qa-icons{
    display: flex;
    margin: 1.75rem auto 0;
    width: 24.5%;
    justify-content: space-between;
  }
  
  #discussions #qa-info p{
    margin: 2rem auto 0;
    width: 60%;
    font: 400 0.88rem "Quicksand", sans-serif;
  }
  
  #discussions #qa-info hr{
    margin: 2.25rem auto 0;
    width: 97.5%;
    border: 1px solid #e7e7e7;
  }
  
  #discussions #qa-info button{
    display: flex;
    margin: -1.1rem auto 0;
    padding: 7px 14px;
    width: 130px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(180deg, var(--orange-300) 0%, var(--orange-350) 100%);
    color: var(--white);
    font: 600 0.9rem "Quicksand", sans-serif;
    justify-content: space-between;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
  
  #discussions .topic{
    width: 97.5%;
    margin: 1rem auto 0;
    padding: 1rem 1.5rem;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    font-family: "Quicksand", sans-serif;
  }
  
  #discussions .topic .topic-content .topic-title{
    font-weight: 700;
    font-size: 1rem;
    color: var(--orange-500);
  }
  
  #discussions .topic .topic-content .topic-creator{
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--gray-400);
  }
  
  #discussions .topic .topic-content .topic-question{
    margin-top: 0.7rem;
    font-weight: 400;
    font-size: 0.88rem;
    color: var(--gray-600);
  }
  
  #discussions .topic .topic-info{
    width: 17.5%;
    display: flex;
    margin-top: 0.7rem;
    justify-content: space-between;
    align-items: center;
  }
  
  #discussions .topic .topic-info p{
    font-weight: 300;
    font-size: 0.85rem;
  }
  
  #discussions #new-topic{
    display: flex;
    flex-direction: column;
  }
  
  #discussions #new-topic p{
    text-align: center;
    font: 400 0.88rem "Quicksand", sans-serif;
  }
  
  #discussions #new-topic form{
    display: flex;
    flex-direction: column;
    width: 97.5%;
    margin: 0.7rem auto 1rem;
    font: 700 1rem "Roboto", sans-serif;
    color: var(--orange-500);
  }
  
  #discussions #new-topic form input{
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 11px 0px 11px 23px;
    font: 500 0.88rem "Quicksand", sans-serif;
    color: var(--gray-600);
    background-color: var(--white);
  }
  
  #discussions #new-topic form label{
    margin-top: 0.8rem;
  }
  
  #discussions #new-topic form textarea{
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: var(--white);
    resize: none;
  }
  
  #discussions #new-topic form #textarea-bottom{
    display: flex;
    justify-content: space-between;
    margin: -2rem auto 0;
    height: 2rem;
    width: 100%;
    background-color: #EAF1F2;
    border: 1px solid #cccccc;
  }
  
  #discussions #new-topic form #text-edit-options{
    display: flex;
    width: 5%;
    justify-content: space-between;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #474747;
    align-items: center;
  }
  
  #discussions #new-topic form #text-edit-options h2:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.27rem;
  }
  
  #discussions #new-topic form #send-button{
    width: 20%;
    border: none;
    border-radius: 0px 0px 4px 0px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    color: var(--white);
    font: 600 0.9rem "Quicksand", sans-serif;
    cursor: pointer;
  }
  
  #discussions #new-topic hr{
    margin: 0 auto 1rem;
    width: 97.5%;
    border: 1px solid #e7e7e7;
  }
  
  #discussions #sended-topic-screen{
    display: flex;
    flex-direction: column;
  }
  
  #discussions #sended-topic-screen #confirm-message{
    margin-top: 1rem;
    text-align: center;
    font: 700 1.13rem "Roboto", sans-serif;
    color: var(--orange-500);
  }
  
  #discussions #sended-topic-screen #thank-you-message{
    margin-top: 1rem;
    text-align: center;
    font: 400 0.88rem "Quicksand", sans-serif;
    color: var(--gray-300);
  }
  
  #discussions #sended-topic-screen a{
    margin-top: 2rem;
    text-align: center;
    font: 500 0.88rem "Quicksand", sans-serif;
    color: #F48F44;
  }
  
  #discussions #sended-topic-screen hr{
    width: 97.5%;
    margin: 4rem auto 0;
    border: 1px solid #e7e7e7;
  }
  
  #discussions #sended-topic-screen #sended-create-new-topic{
    width: 22.5%;
    height: 2rem;
    margin: -1.2rem auto 0;
    border: none;
    border-radius: 4px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    color: white;
    font: 600 0.9rem "Quicksand", sans-serif;
    cursor: pointer;
  }
  
  #discussions #sended-topic-screen .recently-created-topic{
    cursor: default;
    background-color: var(--gray-100);
  }
  
  #discussions #sended-topic-screen .recently-created-topic div{
    filter: blur(2px);
  }
  
  #discussions #sended-topic-screen .recently-created-topic .topic-info{
    visibility: hidden;
  }
  
  #discussions #sended-topic-screen #waiting-feedback{
    margin: -7rem auto 2rem;
    text-align: center;
  }
  
  #discussions #sended-topic-screen #waiting-feedback h3{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font: 700 1rem "Quicksand", sans-serif;
    color: #707070;
  }
  
  .hide-qa-section{
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0;
  }
  
  .show-qa-section{
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
  
  #discussions section{
    transition: opacity 0.3s linear;
  }

  #summary{
    margin-top: 2rem;
    border: 1px solid var(--gray-100);
    border-radius: 3px;
    cursor: pointer;
  }
  
  #summary .section-title{
    padding: 10px 15px;
    font: 500 1.25rem "Roboto", sans-serif;
    color: var(--gray-500);
    background-color: var(--orange-100);
  }
  
  #summary .summary-text,
  #summary .full-summary{
    background: var(--white);
    /* padding: 15px; */
  }
  
  #summary .summary-text p,
  #summary .full-summary p{
    font: 400 0.88rem "Quicksand", sans-serif;
    line-height: 1.4rem;
    letter-spacing: 0.014rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  #summary .summary-text p,
  #summary .full-summary p:last-child{
    margin-bottom: 0;
  }
  
  #summary .summary-text strong{
    color: var(--orange-500);
  }
  
  #summary div{
    height: 100%;
    transition: opacity 0.5s linear;
  }
  
  #summary div.hide{
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding: 0px;
  }
  
  #summary div.show{
    visibility: visible;
    opacity: 1;
    height: 100%;
    padding: 15px
  }
  
  .top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
  }
  
  .top-section #article-title{
    width: 72.5%;
    font: 800 20px "Roboto", sans-serif;
    color: var(--orange-500);
    letter-spacing: 1px;
  }
  
  .top-section .citation{
    display: flex;
    width: 20.5%;
    flex-direction: column;
    align-items: center;
  }
  
  .top-section #buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .top-section button{
    height: 31px;
    width: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 1rem "Roboto", sans-serif;
    color: var(--white);
    background: var(--orange-500);
    border: none;
    border-radius: 4px;
  }
  
  .top-section #download-btn{
    width: 120px;
    justify-content: space-around;
    padding: 10px;
  }
  
  .top-section .citation p{
    width: 107%;
    margin-top: 0.75rem;
    text-align: center;
    font: 500 0.85rem "Roboto", sans-serif;
    color: var(--orange-500);
    letter-spacing: 1px;
  }

  .video-section{
    margin-top: 0.85rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .video-section .details{
    width: 23%;
    border: 1px solid var(--gray-100);
    border-radius: 3px;
  }
  
  .video-section .details h1{
    text-align: start;
    padding: 10px 15px;
    font: 500 1.25rem "Roboto", sans-serif;
    color: var(--gray-500);
    background-color: var(--orange-100);
  }
  
  .video-section .details .informations-text{
    padding: 15px;
  }
  
  .video-section .details .informations-text span,
  .video-section .details .informations-text p{
    color: var(--gray-400);
    font: 500 0.75rem "Quicksand", sans-serif;
  }
  
  .video-section .details .informations-text strong{
    color: var(--gray-400);
    font: 700 0.75rem "Quicksand", sans-serif;
  }
  
  #main-info p{
    margin-bottom: 0.25rem;
  }
  
  #authors{
    margin-top: 1.25rem;
  }
  
  #authors strong{
    font-size: 0.9rem;
  }
  
  #authors p{
    font-size: 0.88rem;
    margin-top: 0.25rem;
  }
  
  #universities{
    margin-top: 2.25rem;
  }
  
  #universities p{
    font-weight: 300;
    font-size: 0.78rem;
  }

  @media(max-width: 1326px){
    header .languages-btn{
      margin-left: 2rem;
    }
  
    .video-section .youtube{
      width: 75%;
      height: 420px;
    }
  
    .video-section .details{
      height: 420px;
    }
  
    .video-section .details #authors{
      margin-top: 0.9rem;
    }
  
    .video-section .details #universities{
      margin-top: 0.9rem;
    }
  }
  
  @media(max-width: 1295px){
    header .languages-btn{
      padding: 5px;
      font-size: 0.75rem;
    }
  
    main .top-section .citation{
      width: 22%;
    }
  }
  
  @media(max-width: 1260px){
    .sidebar .logo{
      height: 11%;
    }
  
    header{
      height: 11%;
    }
  
    header .header-title-container{
      width: 95%;
    }
  
    header .header-title h1{
      font-size: 1.2rem;
    }
  
    header .languages-btn{
      margin-left: 1.5rem;
      margin-left: 0rem;
    }
  
    main .main-container{
      width: 94%;
    }
  
    main .top-section .citation{
      width: 23%;
    }
  
    main .top-section .citation p{
      width: 100%;
      text-align: right;
    }
  
    .video-section .youtube{
      width: 70%;
      height: 360px;
    }
  
    .video-section .details{
      width: 27.5%;
      height: 360px;
    }
  
    main #bottom-text #bottom-container #galoa-logo p::after,
    main #bottom-text #bottom-container #galoa-logo p::before{
      display: none;
    }
  }
  
  @media(max-width: 1237px){
    .video-section .youtube{
      width: 65%;
      height: 350px;
    }
  
    .video-section .details{
      width: 29%;
      height: 350px;
    }
  
    .video-section .details h1{
      font-size: 1.1rem;
      padding: 10px;
    }
  
    .video-section .details #authors strong{
      font-size: 0.85rem;
    }
  
    .video-section .details #authors p{
      font-size: 0.8rem;
    }
  }
  
  @media(max-width: 1215px){
    main .top-section{
      margin-top: 1rem;
    }
  
    main .top-section #article-title{
      width: 69%;
      font-size: 1.1rem;
    }
  
    main .top-section .citation{
      width: 25%;
    }
  
    main .top-section .citation #buttons button{
      padding: 5px;
    }
  
    main .top-section .citation #buttons #download-btn{
      width: 110px;
    }
  
    main .top-section .citation p{
      margin-top: 0.5rem;
    }
  }
  
  @media(max-width: 1175px){
    .sidebar .logo h1{
      font-size: 1.45rem;
    }
  
    header .header-title h1{
      font-size: 1.1rem;
    }
  
    main .top-section .citation p{
      font-size: 0.78rem;
    }
  
    main .video-section .youtube{
      width: 65%;
      height: 330px;
    }
  
    main .video-section .details{
      width: 31%;
      height: 330px;
    }
  
    main .video-section .details .informations-text{
      padding: 7px;
    }
  
    .video-section .details #authors p{
      margin-top: 0rem;
    }
  
    main #summary{
      margin-top: 1rem;
    }
  
    main #bottom-text #bottom-container{
      justify-content: space-between;
    }
  
    main #bottom-text #bottom-container #galoa-logo{
      margin-right: 0;
    }
  }
  
  @media(max-width: 1020px){
    .sidebar{
      width: 20%;
    }
  
    header{
      width: 80%;
    }
  
    header .user-profile #user-info{
      display: none;
    }
  
    main{
      width: 80%;
    }
  
    main .top-section .citation{
      width: 27.5%;
    }
  }
  
  @media(max-width: 986px){
    main .top-section .citation{
      width: 30%;
    }
  
    main .video-section .youtube{
      height: 330px;
    }
  
    main .video-section .details{
      width: 33%;
      height: 330px;
    }
  
    main #discussions .topic .topic-info{
      width: 25%;
    }
  
    main #discussions .open-full-topic .origin-topic .full-topic-info{
      width: 25%;
    }
  }
  
  @media(max-width: 930px){
    main .video-section{
      display: block;
    }
  
    main .video-section .youtube{
      width: 100%;
      height: 380px;
    }
  
    main .video-section .details{
      width: 100%;
      margin-top: 1rem;
      height: 40%;
    }
  }
  
  @media(max-width: 880px){
    header .languages-dropdown .languages-btn{
      padding: 0px 5px 0px 5px;
      height: 25px;
      width: 75px;
    }
  
    header .languages-dropdown .languages-btn p{
      font-size: 0.7rem;
    }
  
    header .languages-dropdown .languages-btn img{
      width: 17px;
    }
  
    main .top-section{
      display: block;
      margin-top: 0.8rem;
    }
  
    main .top-section #article-title{
      width: 100%;
      font-size: 1.1rem;
    }
  
    main .top-section .citation{
      display: block;
      width: 40%;
      margin-top: 0.75rem;
    }
  
    main .top-section #buttons{
      width: 80%;
    }
  
    main .top-section #buttons #download-btn{
      width: 110px !important;
      padding: 5px;
      font-size: 0.9rem;
    }
  
    main .top-section #buttons #download-btn img,
    main .top-section #buttons #favorite-btn img,
    main .top-section #buttons #doi-btn img{
      width: 14px;
    }
  
    main .top-section #buttons #favorite-btn,
    main .top-section #buttons #doi-btn{
      padding: 0;
      width: 40px;
    }
  
    main .top-section .citation p{
      font-size: 0.88rem;
      text-align: left;
    }
  
    main #discussions .open-full-topic .topic-answers .answer .author-section .author-type{
      margin-right: 1.5rem;
    }
  }
  
  @media(max-width: 800px){
    .sidebar{
      width: 22%;
    }
  
    .sidebar .logo{
      height: 10%;
    }
  
    header{
      width: 78%;
      height: 10%;
    }
  
    header .header-title h1{
      font-size: 1rem;
    }
  
    header .header-title h3{
      font-size: 0.75rem;
    }
  
    main{
      width: 78%;
    }
  
    main .top-section .citation{
      display: block;
      width: 45%;
      margin-top: 0.75rem;
    }
  }
  
  @media(max-width: 768px){
    .sidebar .logo h1{
      font-size: 1.3rem;
    }
  
    header{
      width: 78%;
      height: 10%;
    }
  
    header .header-title h1{
      font-size: 0.9rem;
    }
  
    header .languages-dropdown .languages-btn{
      padding: 0px 5px 0px 5px;
      height: 25px;
      width: 75px;
    }
  
    header .languages-dropdown .languages-btn p{
      font-size: 0.7rem;
    }
  
    header .languages-dropdown .languages-btn img{
      width: 17px;
    }
  
    header .user-profile #user-info #welcome-msg,
    header .user-profile #user-info #user-email{
      display: none;
    }
  
    main .top-section{
      display: block;
      margin-top: 0.8rem;
    }
  
    main .top-section #article-title{
      width: 100%;
      font-size: 1rem;
    }
  
    main .top-section #buttons{
      width: 80%;
    }
  
    main .top-section #buttons #download-btn{
      width: 95px !important;
      padding: 5px;
      font-size: 0.9rem;
    }
  
    main .top-section #buttons #download-btn img,
    main .top-section #buttons #favorite-btn img,
    main .top-section #buttons #doi-btn img{
      width: 14px;
    }
  
    main .top-section #buttons #favorite-btn,
    main .top-section #buttons #doi-btn{
      padding: 0;
      width: 40px;
    }
  
    main .top-section .citation p{
      text-align: left;
    }
  
    main .video-section{
      display: block;
    }
  
    main .video-section .youtube{
      width: 100%
    }
  
    main .video-section .details{
      width: 100%;
      height: 40%;
      margin-top: 1rem;
    }
  
    main #summary .section-title{
      font-size: 1.1rem;
    }
  
    main #summary .summary-text{
      padding: 5px 15px;
    }
  
    main #summary .summary-text p{
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  
    main #discussions{
      margin-top: 1rem;
    }
  
    main #discussions .section-title{
      font-size: 1.1rem;
    }
  
    main #discussions #qa-info h2{
      font-size: 1rem;
    }
  
    main #discussions #qa-info #qa-icons{
      width: 35%;
      margin-top: 1rem;
    }
  
    main #discussions #qa-info #qa-icons img{
      width: 40px;
    }
  
    main #discussions #qa-info p{
      font-size: 0.88rem;
    }
  
    main #discussions #new-topic form input{
      padding-left: 11px;
    }
  
    main #discussions #sended-topic-screen #confirm-message{
      margin-top: 0;
      font-size: 1.05rem;
    }
  
    main #discussions #sended-topic-screen #thank-you-message{
      width: 90%;
      margin: 1rem auto 0;
    }
  
    main #discussions #sended-topic-screen a{
      margin-top: 1rem;
    }
  
    main #discussions #sended-topic-screen hr{
      margin: 3rem auto 0;
    }
  
    main #discussions .open-full-topic .origin-topic{
      width: 92.5%;
    }
  
    main #discussions .open-full-topic .origin-topic .full-topic-info{
      width: 35%;
      margin-top: 1rem;
    }
  
    main #discussions .open-full-topic .topic-answers .answer .author-section{
      width: 92.5%;
    }
  
    main #discussions .open-full-topic .topic-answers .answer .answer-content{
      width: 92.5%;
    }
  
    main #discussions .open-full-topic .topic-answers .answer:nth-child(2) .answer-author{
      width: 92.5%;
    }
  
    main #discussions .topic .topic-info{
      width: 35%;
    }
  
    main #bottom-text{
      margin-top: 1.75rem;
    }
  
    main #bottom-text #bottom-container{
      display: block;
      width: 95%;
      margin-top: 1rem;
    }
  
    main #bottom-text #bottom-container #galoa-logo{
      width: 100%;
      margin-top: 1rem;
    }
  
    main #bottom-text #bottom-container #galoa-logo button{
      width: 40%;
    }
  
    main #bottom-text #bottom-container #bottom-info{
      width: 100%;
      margin-top: 1rem;
    }
  }
  
  @media(max-width: 680px){
    .sidebar .logo{
      height: 15%;
    }
  
    .sidebar img{
      display: none;
    }
  
    header{
      height: 15%;
    }
  
    header .header-title{
      width: 70%;
    }
  
    header .header-title h1{
      font-size: 0.9rem;
    }
  
    header .languages-dropdown .languages-btn #dropdown-arrow{
      display: none;
    }
  
    header .languages-dropdown .languages-btn{
      width: 65px !important;
      justify-content: space-around;
    }
  
    main{
      top: 15%;
    }
  
    main .top-section .citation{
      width: 55%;
    }
  
    main #discussions #sended-topic-screen #sended-create-new-topic{
      width: 45%;
    }
  }
  
  @media(max-width: 540px){
    .sidebar{
      display: none;
    }
  
    header{
      width: 100%;
      height: 15%;
    }
  
    main{
      width: 100%;
      top: 15%;
    }
  
    main .top-section .citation{
      width: 60%;
    }
  }
  
  @media(max-width: 396px){
    main .top-section .citation{
      width: 75%;
    }
  
    main #discussions .topic .topic-info{
      width: 45%;
    }
  
    main #discussions .open-full-topic .origin-topic .full-topic-info{
      width: 45%;
    }
  
    main #discussions .open-full-topic .topic-answers .answer .author-section .author-type{
      margin-right: 3rem;
    }
  }
  
  @media(max-width: 320px){
    main #discussions .topic .topic-info{
      width: 55%;
    }
  
    main #discussions .open-full-topic .origin-topic .full-topic-info{
      width: 55%;
    }
  }